<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Kreato_CRM_V1">

	<listeners>
		<listener class-name="com.kreatocrm.utilities.Reporting" />
	</listeners>
	
	<test name="Kreato CRM">
				
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.kreatocrm.testcases.TC_LoginDDT_001" />
		</classes>

	</test>

</suite>